// insert overrides bellow
//$card-bg: blue;
$list-group-bg: rgba(167, 181, 254, 1);
$card-bg: rgba(167, 181, 254, 1);


//$bs-primary: teal;

$primary: rgb(228, 195, 142, 1);

//$btn-outline-success: #198754;
$btn-outline-success: rgb(251, 205, 212, 1);

// _base.scss
$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  text-align: center; /* Center align all content */
}

main {
    max-width: 700px; /* Set maximum width of main element */
    margin: 0 auto; /* Center main element horizontally */
  }


@import "../../node_modules/bootstrap/scss/bootstrap.scss";


/*main {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

body {
    background-color: rgba(84, 55, 134, 1);
}

.btn {
    background-color: $primary;
}

.create-post {
    background-color: rgba(167, 181, 254, 1);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}*/

.card {
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}
/*
.title {
    text-align: center;
}

.form-background {
    background-color: rgba(167, 181, 254, 1);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}*/